<%# content_for :title do %>
<!--  Dashboard-->
<%# end %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hello <%= current_user.name %></h1>
    <h3 class="lead">Welcome back to your fitness haven. You currently have <strong><%= @activities_count %></strong> activites</h3>
  </div>
</div>




